<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<style>
html, body {
	margin: 0;
	height: 100%;
}

/*
    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    } */
.bgim {
	background-image:
		url("https://images.unsplash.com/photo-1626148750586-df6e1b0bebf2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
        background-size: cover;
}

font {
	color: #75C0E0;
}
</style>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <title>Welcome!</title>
</head>

<body>
<div>
    <nav class="navbar bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"> <img
                    src="https://th.bing.com/th/id/OIP.veoLa35WqhsKceD7ToxhLAAAAA?pid=ImgDet&rs=1"
                    alt="Logo" width="30" height="24"
                    class="d-inline-block align-text-top"> <!-- <h1>
                    Student Management App
                </h1> --> <font face="Verdana" size="6">&nbsp;
                Student Management</font><br /> <!-- </a> -->
            </a>
        </div>
    </nav>
</div>

<ul class="nav justify-content-end">
    <li class="nav-item"><a class="nav-link active" href="login">Login</a>
    </li>
    <li class="nav-item"><a class="nav-link" href="register">Sign
        up</a></li>
    <li class="nav-item"><a class="nav-link" href="about">About</a></li>
    <li class="nav-item"><a class="nav-link" href="help">Help</a></li>
</ul>
<div class="bgim">
    <br> <br> <br>
    <div class="container" style="text-align: center;">
        <div class="card" style="width: 70rem;">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
                <section class="mb-4">

                    <!--Section heading-->
                    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
                    <!--Section description-->
                    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
                        a matter of hours to help you.</p>

                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-9 mb-md-0 mb-5">
                            <form id="contact-form" name="contact-form" action="mail.php" method="POST" style="padding : 20px">

                                <!--Grid row-->
                                <div class="row">

                                    <!--Grid column-->
                                    <div class="col-md-6">
                                        <div class="md-form mb-0" style="text-align: left">
                                            <input type="text" id="name" name="name" class="form-control"
                                                   placeholder="Enter Name" required>
                                            <label for="name" class="">Your name</label>
                                        </div>
                                    </div>
                                    <!--Grid column-->

                                    <!--Grid column-->
                                    <div class="col-md-6">
                                        <div class="md-form mb-0" style="text-align: left">
                                            <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" required>
                                            <label for="email" class="">Your email</label>
                                        </div>
                                    </div>
                                    <!--Grid column-->

                                </div>
                                <!--Grid row-->

                                <!--Grid row-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="md-form mb-0" style="text-align: left">
                                            <input type="text" id="subject" name="subject" class="form-control" placeholder="Enter Subject" required>
                                            <label for="subject" class="">Subject</label>
                                        </div>
                                    </div>
                                </div>
                                <!--Grid row-->

                                <!--Grid row-->
                                <div class="row">

                                    <!--Grid column-->
                                    <div class="col-md-12">

                                        <div class="md-form" style="text-align: left">
                                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea" placeholder="Enter your message" required></textarea>
                                            <label for="message">Your message</label>
                                        </div>

                                    </div>
                                </div>
                                <!--Grid row-->

                            </form>

                            <div class="text-center text-md-center">
                                <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
                            </div>
                            <div class="status"></div>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-md-3 text-center">
                            <ul class="list-unstyled mb-0">
                                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                                    <p>San Francisco, CA 94126, USA</p>
                                </li>

                                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                                    <p>+ 01 234 567 89</p>
                                </li>

                                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                                    <p>contact@mdbootstrap.com</p>
                                </li>
                            </ul>
                        </div>
                        <!--Grid column-->

                    </div>

                </section>
                <!--Section: Contact v.2-->

        </div>
    </div>
    <br> <br> <br> <br> <br> <br> <br>
    <br> <br> <br> <br>
</div>




<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src=" https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous">

</script>
<script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<!-- </div> -->
</body>

</html>